<mat-card appearance="outlined" style="padding: 2%;">
    <mat-card-header>
        <mat-card-title> PRODUCTOS</mat-card-title>
    </mat-card-header>
    <br>
    <a routerLink="/add" class="btn btn-sm btn-success mb-2" style="width: max-content; background:black">Agregar
        Producto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 30%">Nombre</th>
                <th style="width: 30%">Precio</th>
                <th style="width: 30%">Descripcion</th>
                <th style="width: 30%">Imagen</th>
                <th style="width: 10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{ product.price | currency:'MXN':'symbol' }}</td>
                <td>{{product.description}}</td>
                <td><img src="{{product.image}}" /></td>
                <td style="white-space: nowrap">
                    <a routerLink="/edit/{{product.id}}" id="btn" class="btn btn-sm btn-primary mr-1">Editar</a>
                    <a routerLink="/detail/{{product.id}}" id="btn" class="btn btn-sm btn-primary mr-1">Detalle</a>

                    <button (click)="deleteProduct(product.id)" class="btn btn-sm btn-danger btn-delete-user"
                        [disabled]="product.isDeleting" id="btn">
                        <span *ngIf="product.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!product.isDeleting">Eliminar</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>